h1 {
    color: red;
}

* {
    border: solid;
}
.header {
    background-color: green;
    display: flex;
    justify-content: space-between;
}
.grid {
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.footer {
    display:flex;
    justify-content: flex-end;

}
.site-description {
    text-align:center

}